.createProduct-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createProduct{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-background-product);
    border-radius: 5%;
    outline: 1px solid #000;
    box-shadow: 1px 1px 20px 1px  ;
    width: 100%;
    max-width: 220px;
    height: 380px;
}

.createProduct-img_container{
    position: relative;
    width: 95%;
    height: 140px;
    margin-top: 3px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 5%;
    outline: 1px dashed #000;
    background-color: rgb(243, 239, 239);
}

.createProduct-img_container > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 100;
    color: #c2c2c2 ;
}

.createProduct-img{
    display: none;
}


.createProduct-category{
    height: 25px;
    width: 150px;
    text-align: center;
    border: none;
    border-radius: 3px;
    outline: none;
    outline: 1px solid #000;  
    
}