body{
    overflow-y: auto ;
    background-color: #dff9fd ;

}
body::-webkit-scrollbar{
    width: 0.0001px;
}

:root{
    --color-background-product:rgb(141, 186, 207);
    --color-background-buttons: #06acee;
    --color-background-buttons-hover: #0392ca;
}

#root{
    max-width: 1600px;
    margin: auto;
}